@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.wrapper:first-child:focus-within {
  border: 2.4px solid #2684ff !important;
  box-shadow: none !important;
}
